
<div id="headerwrap">
    <div id="header">
        <h1><img src="../images/Logo.png" class="logo" alt="YOUR LOGO" style="height:80px; width:80px;"></img></h1>
        <div class="topnav">
            <form action="/search" class="example">
                 <select name="searchby" class="dropdown1" id="search-by">
                    <option value="playlist" id="opt">Playlist</option>
                    <option value="artist" id="opt">Artist</option>
                    <option value="tracks" id="opt">Tracks</option>
                </select>
            <input type="text" placeholder="Search.." type="text" name="artist" id="artist-input">
              <button type="submit"><i class="fa fa-search"></i></button>
               
                </form>
        </div>
        <div class="signin"><a href="signin.html"><i class="fas fa-sign-in-alt">Signin</i></a><a href="signup.html">
            <i class="fas fa-user-plus">Signup</i></a></div>
        <div class="dropdown"><button onclick="myFunction()" id="myimg" class="myprofile" value="Hello Aaftab"
                text="Hello Aaftab">Hello Aaftab</button>
            <div id="myDropdown" class="dropdown-content"><a href="/viewprofile">Viewprofile</a><a href="#">Link 2</a><a
                    href="#">Link 3</a></div>
        </div>
    </div>