<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://kit.fontawesome.com/e35a902f27.js" crossorigin="anonymous"></script>
{{> style}}
<style>
    
.btndelete{
     width: 49%;
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.viewprofile input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.viewprofile .btnupdate[type=submit] {
  width: 49%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.viewprofile input[type=submit]:hover {
  background-color: #45a049;
}

.viewprofile {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.vps{
    margin:70px 100px;
}

</style>
</head>
<body>
    {{> header}}
   <center> <h1 style="font-size: xxx-large;">View Profile</h1></center>
    <div class="vps">
    <div class="viewprofile">
    <form method="POST" action="">
      <label for="name">Name</label>
      <input type="text" id="name" name="username" value="{{user.username}}" disabled>

      <label for="lname">E-mail</label>
      <input type="text" id="email" name="email" value="{{user.email}}" disabled>

      <label for="gender">Gender</label>
      <select id="gender" name="gender" disabled>
        <option {{#ifeq user.gender "male"}} selected {{/ifeq}} value="male">Male</option>
        <option {{#ifeq user.gender "female"}} selected {{/ifeq}} value="female">Female</option>
        <option {{#ifeq user.gender "other"}} selected {{/ifeq}} value="other">Other</option>
      </select>
    
      <label for="bdate">Birth Date</label>
      <!--<input type="date" id="bdate" name="birthDate" value="{{user.birthDate}}" disabled> -->
       <input class="input--style-3 js-datepicker" type="text" placeholder="Birthdate"id="bdate" name="birthDate" value="{{user.birthDate}}" disabled>
                            <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
      <input type="submit" value="Update" class="btnupdate" hidden>
      <input type="submit" value="Delete" class="btndelete" hidden>
      <input type="button" value="Edit Profile" class="btnedit"> 
    </form>
    </div>
    </div>

    <script>
       $(document).ready(function(){
         $(".btnedit").click(function(){
           $("#name").prop("disabled",false);
           $("#email").prop("disabled",false);
           $("#gender").prop("disabled",false);
           $("#bdate").prop("disabled",false);
           $(".btnupdate").prop("hidden",false);
           $(".btndelete").prop("hidden",false);
           $(".btnedit").prop("hidden",true);
         });
       });
    </script>
</body>
</html>